<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <style>
      /* CSS styles for the top bar */
      header {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
      }
      
      #logo {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      
      nav {
        display: flex;
      }
      
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }
      
      nav li {
        margin-left: 20px;
      }
      
      nav a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }
      
      nav a:hover {
        background-color: #fff;
        color: #333;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin: 20px;
      }
      .box {
        width: 150px;
        height: 50px;
        border: 1px solid black;
        cursor: pointer;
      }
      .selected {
        background-color: yellow;
      }
      .selected_other {
        pointer-events: none;
        background-color: green;
      }
    </style>
  </head>
  <body>
    <header>
      <div id="logo">My Website</div>
      <nav>
        <ul>
          <li><a href="http://localhost:3000/home">Home</a></li>
          <li><a id="login" href="http://localhost:3000/auth/login">Login</a></li>
        </ul>
      </nav>
      <script>
      var element = document.getElementById('login');
      const token = localStorage.getItem('token');
      if (token) {
        element.href = "http://localhost:3000/home"
        element.textContent = 'Me'
      }
    </script>
    </header>
    <main>
      <div class="grid">
		<div>
			<h3>A</h3>
			<div>
				<div class="box" id="box-0">00:00~01:00</div>
				<div class="box" id="box-1">01:00~02:00</div>
				<div class="box" id="box-2">02:00~03:00</div>
				<div class="box" id="box-3">03:00~04:00</div>
				<div class="box" id="box-4">04:00~05:00</div>
				<div class="box" id="box-5">05:00~06:00</div>
				<div class="box" id="box-6">06:00~07:00</div>
				<div class="box" id="box-7">07:00~08:00</div>
				<div class="box" id="box-8">08:00~09:00</div>
				<div class="box" id="box-9">09:00~10:00</div>
				<div class="box" id="box-10">10:00~11:00</div>
				<div class="box" id="box-11">11:00~12:00</div>
				<div class="box" id="box-12">12:00~13:00</div>
				<div class="box" id="box-13">13:00~14:00</div>
				<div class="box" id="box-14">14:00~15:00</div>
				<div class="box" id="box-15">15:00~16:00</div>
				<div class="box" id="box-16">16:00~17:00</div>
				<div class="box" id="box-17">17:00~18:00</div>
				<div class="box" id="box-18">18:00~19:00</div>
				<div class="box" id="box-19">19:00~20:00</div>
				<div class="box" id="box-20">20:00~21:00</div>
				<div class="box" id="box-21">21:00~22:00</div>
				<div class="box" id="box-22">22:00~23:00</div>
				<div class="box" id="box-23">23:00~24:00</div>
			</div>
		</div>
		<div>
			<h3>B</h3>
			<div>
				<div class="box" id="box-24">00:00~01:00</div>
				<div class="box" id="box-25">01:00~02:00</div>
				<div class="box" id="box-26">02:00~03:00</div>
				<div class="box" id="box-27">03:00~04:00</div>
				<div class="box" id="box-28">04:00~05:00</div>
				<div class="box" id="box-29">05:00~06:00</div>
				<div class="box" id="box-30">06:00~07:00</div>
				<div class="box" id="box-31">07:00~08:00</div>
				<div class="box" id="box-32">08:00~09:00</div>
				<div class="box" id="box-33">09:00~10:00</div>
				<div class="box" id="box-34">10:00~11:00</div>
				<div class="box" id="box-35">11:00~12:00</div>
				<div class="box" id="box-36">12:00~13:00</div>
				<div class="box" id="box-37">13:00~14:00</div>
        <div class="box" id="box-38">14:00~15:00</div>
				<div class="box" id="box-39">15:00~16:00</div>
				<div class="box" id="box-40">16:00~17:00</div>
				<div class="box" id="box-41">17:00~18:00</div>
				<div class="box" id="box-42">18:00~19:00</div>
				<div class="box" id="box-43">19:00~20:00</div>
				<div class="box" id="box-44">20:00~21:00</div>
				<div class="box" id="box-45">21:00~22:00</div>
				<div class="box" id="box-46">22:00~23:00</div>
				<div class="box" id="box-47">23:00~24:00</div>
			</div>
		</div>
	</div>
  <div class="container">
	
		<div class="grid">
			<button id="apply-btn">Apply</button>
		</div>
	</div>
    </main>
    <script>
const Token = localStorage.getItem('token');
var nickName = ""
const boxes = document.querySelectorAll('.box');
const leftBoxes = document.querySelectorAll('.grid:nth-child(2) .box');
const applyBtn = document.querySelector('#apply-btn');


let selectedLeftColumns = [];
let selectedRightColumns = [];
let selectedBoxIds = [];
let my_len = 0

fetch("http://localhost:3000/schedule", {
  method: "GET", // GET 요청
  headers: {
    "Authorization": `Bearer ${Token}` // 헤더에 토큰 값 추가
  }
})
.then(response => response.json()) // 응답을 JSON 형식으로 변환
.then(data => {
  for (let i = 0; i < data.length; i++) {
    var boxn = data[i].timeBoxName;
    let box_ = document.getElementById(boxn)
    if (!box_.classList.contains('selected_other')) {
      box_.classList.add('selected_other');
    }
  }
}) // 데이터 출력
.catch(error => console.error(error)); // 에러 처리

if (Token) {
  fetch("http://localhost:3000/schedule/username", {
    method: "GET", // GET 요청
    headers: {
      "Authorization": `Bearer ${Token}` // 헤더에 토큰 값 추가
    }
  })
  .then(response => response.text()) // 응답을 JSON 형식으로 변환
  .then(data => {
    nickName = data;
  }) // 데이터 출력
  .catch(error => console.error(error)); // 에러 처리

  fetch("http://localhost:3000/schedule/mine", {
    method: "GET", // GET 요청
    headers: {
      "Authorization": `Bearer ${Token}` // 헤더에 토큰 값 추가
    }
  })
  .then(response => response.json()) // 응답을 JSON 형식으로 변환
  .then(data => {
    for (let i = 0; i < data.length; i++) {
      var boxn = data[i].timeBoxName;
      let box_ = document.getElementById(boxn)
      if (!box_.classList.contains('selected')) {
        box_.classList.remove('selected_other');
        box_.classList.add('selected');
        selectedBoxIds.push({id: boxn, column: box_.dataset.column})
        my_len += 1
      }
    }
  }) // 데이터 출력
  .catch(error => console.error(error)); // 에러 처리
}

function handleBoxClick(id) {
  if (Token) {
    if (this.classList.contains('selected')) {
      this.classList.remove('selected');
      my_len -= 1
      if (this.dataset.side === 'left') {
        selectedLeftColumns.splice(selectedLeftColumns.indexOf(this.dataset.column), 1);
      } else {
        selectedRightColumns.splice(selectedRightColumns.indexOf(this.dataset.column), 1);
      }
      selectedBoxIds = selectedBoxIds.filter(box => box.id !== id);
    } else {
      if (this.dataset.side === 'left' && my_len < 3) {
        this.classList.add('selected');
        my_len += 1
        selectedLeftColumns.push(this.dataset.column);
      } else if (this.dataset.side === 'right' && my_len < 3) {
        this.classList.add('selected');
        my_len += 1
        selectedRightColumns.push(this.dataset.column);
      }
      selectedBoxIds.push({id: id, column: this.dataset.column});
    }
  } else {
    alert('로그인을 해주세요')
  }
}

function handleApplyClick() {
  fetch('http://localhost:3000/schedule', {
          method: 'DELETE',
          headers: {
              "Authorization": `Bearer ${Token}`,
          },
    })
    .catch((error) => {
      alert('Something went wrong');
      console.error('Error:', error);
    })

  if (Token) {
    for(let i = 0; i < 3; i++) {
      result_ = 'none'
      if (selectedBoxIds[i]) {
        result_ = selectedBoxIds[i].id
        console.log(result_)
      } else {
        continue;
      }

      var data = {
          timeBoxName: result_,
          userName: nickName
      }
      console.log(data)
      fetch('http://localhost:3000/schedule', {
          method: 'POST',
          headers: {
              "Authorization": `Bearer ${Token}`,
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
          })
          .then(response => {
            return response.json()
          }) 
          .then(data => {
            window.location = "http://localhost:3000/home"
          })
          .catch((error) => {
            alert('Something went wrong');
            console.error('Error:', error);
        });
      } 
  } else {
        alert('로그인을 해주세요')
      }

}

boxes.forEach((box) => {
  const id = box.getAttribute('id');
  box.addEventListener('click', handleBoxClick.bind(box, id));
  if (box.dataset.column < 12) {
    box.dataset.side = 'left';
  } else {
    box.dataset.side = 'right';
  }
});

applyBtn.addEventListener('click', handleApplyClick);


	</script>
  </body>
</html>
